<div id="listing">
    <img src={{this.image}}>
    <h4>{{this.propertyType}} in {{this.neighborhood}}</h4>
    <h3>{{this.title}}</h3>
    <p><span>{{this.price}}/night</span> · {{this.total}}</p>
    <p>⭐<span>{{this.rating}}</span> ({{this.numRatings}})</p>
</div>